/* ================ Common shared Style ======================== */
/* *{
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}


.primary__color {
    color: #FD6E0A;
}

.btn {
    border-radius: 5px;
    color: #fff;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 18px 36px;
}

/* .container {
    padding-inline: 6rem;
} */


.section__title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}


.section__description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* =============== Nav Related Style ======================= */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;

}

.nav__logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}


.nav>.nav__menu>.nav__list {
    display: flex;
    align-items: center;
}

.nav .nav__item {
    list-style: none;
    margin-right: 50px;
}

.nav .nav__item .nav__link {
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}


/* ================ Header Related Style ======================= */
.header {
    background-color: #FFF8F3;
    /* padding: 20px 0; */
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}


.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__content {
    max-width: 585px;
}

.banner__greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner__title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner__description {
    width: 585px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.banner__btn {
    background-color: transparent;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 10px;
}

.banner__img {
    width: 584px;
    height: 676px;
}


/* ================== Main  Related Style ====================== */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* ============== About Section Related Style ============ */
.about {
    margin: 130px 0;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;

}

.about__info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.info__title {
    margin-bottom: 0;
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.info__description {
    margin-top: 5px;
    color:#474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}